body {
  background-color: #333333;
  font-family: 'Open Sans', sans-serif;
}

#hello {
  color: gray;
  margin-bottom: 10px;
}

#video {
	margin: 10px;
}

.info {
  color: #bbbbbb;  
}
