body {
  background-color: #333333;
  font-family: 'Open Sans', sans-serif;
}

#hello {
  color: gray;
  margin-bottom: 10px;
}

#outer_container {
  padding: 10px;
}

#video-container {
  padding: 10px;
  width: 85%;
  margin-left: -20px;
  max-width: 100%
}

.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se {
  background-color: mediumpurple;
}

#video {
	margin: 10px;
}

#video_controls {
  height: 1rem;
  margin-bottom: 3rem;
}

#load_last_video {
  float: left;
  margin-right: 15px;
}

#sync_block {
  float: left;
  width: 25%;
  margin-right: 15px;
}

#sync_badge {
  float: left;
  margin-top: 0.5rem;
  display: block;
  opacity: 0;
  margin-right: 15px;
}

#subtitle_enable_block {
  float: left;
  margin-top: 0.4rem;
}

#subtitle_enable_text {
  color: #bbbbbb;
}

.video_details {
  color: #bbbbbb;
  margin-top: 15px;
}

#load_url_div {
  width: 45%;
  margin-top: 1rem;
  height: 1rem;
}

#url_block {
  float: left;
  width: 80%;
  margin-right: 15px;
}

#new_url_badge {
  float: left;
  margin-top: 0.5rem;
  display: none;
}

#video_details_me {
  display: none;
}

#get_subs {
  margin-bottom: 1rem;
  width: 295px;
}

#subtitle_list {
  color: #bbbbbb;
  margin-top: 15px;
}

.subtitle_item {
  background: rgb(78,78,78);
  background: linear-gradient(90deg, rgba(78,78,78,1) 0%, rgba(78,78,78,0.6) 30%, rgba(78,78,78,0) 100%);
  margin-top: 7px;
  padding: 3px;
}

.subtitle_item:hover {
  background: #58709a;
  color: cyan;
  cursor: pointer;
}
