body {
  background-color: #333333;
  font-family: 'Open Sans', sans-serif;
}

#hello {
  color: gray;
  margin-bottom: 10px;
}

#video-container {
  padding: 10px;
  width: 85%;
  margin-left: -20px;
  max-width: 100%
}

.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se {
  background-color: mediumpurple;
}

#video {
	margin: 10px;
}

.video_details {
  color: #bbbbbb;
  margin-top: 15px;
}

#video_details_me {
  display: none;
}

#episode_field {
  width: 50px
}

#season_field {
  width: 50px
}

#subtitle_form {
  color: #bbbbbb
}

#subtitle_list {
  color: #bbbbbb;
  margin-top: 15px;
}

.subtitle_item {
  background: rgb(78,78,78);
  background: linear-gradient(90deg, rgba(78,78,78,1) 0%, rgba(78,78,78,0.6) 30%, rgba(78,78,78,0) 100%);
  margin-top: 7px;
  padding: 3px;
}

.subtitle_item:hover {
  background: #58709a;
  color: cyan;
  cursor: pointer;
}
